@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --title: 'Manrope',Arial, Helvetica, sans-serif;
    --text: 'Jura',Arial, Helvetica, sans-serif;

    --cor01: #EEF5DB;
    --cor02: #FE5F55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: white;
}

header {
    background: linear-gradient(to right, #FF0100, #FDA300);
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}

header > h1 {
    padding: 10px;
}

header > h1 > a {
    font-family: var(--title);
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 2px;
    color: black; /* Cor do texto */
    text-shadow: 
    1px 1px 0px white,
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white; /* Cria uma borda com múltiplas sombras */

}

span {
    color: #FF0100;
}

nav > ul {
    list-style: none;
    display: flex;
}

nav > ul > li {
    margin: 0 15px;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: var(--title);
    padding: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.077);

    &:hover {
        color: white;
        transition: color .3s;
    }
}

ul.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 250px;
    height: 100vh;
    
    background: linear-gradient(to right top, #FE5A00,#FDA100);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.082);

    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul.sidebar > li {
    margin: 20px 20px;
}

.menu-button {
    display: none;
}

main {
    padding: 10px;
}

img {
    width: 100%;
}

section.text-media {
    background-color: #CDD6DD;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.326);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50vh;
}

article.text {
    font-family: var(--text);
    width: 300px;
    text-align: justify;
    line-height: 1.5em;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 250px;
        height: 3px;
        background: linear-gradient(to left bottom, #FF0100, #FDA100);
        bottom: -15px;
        right: 25px;
    }

    & > p {
        text-indent: 1em;
    }
}

article.text > h2 {
    text-align: center;
    margin: 0 0 20px 0;
}
