@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: até 480px
Celular: de 481px até 768px
Tablet: 768px até 1024px
Desktop: 1025px até 1366px
Grandes telas: 1367px ou acima  */

@media screen and (max-width: 480px) {
    header {
        height: 10vh;

    }

    header > a.logo {
        font-size: 1em;
        padding: 10px;
    }

    ul.sidebar {
        width: 50%;
    }

    .text-media {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .text-media {
        flex-direction: column;
        text-align: center;
    }

    .text {
        margin: 10rem 0;
    }

    .media {
        -webkit-mask-image: linear-gradient(to top,rgb(0 0 0 / 1),rgb(0 0 0 / 0.6) 40%,rgb(0 0 0 / 0));
        mask-image: linear-gradient(to top, rgb(0 0 0 / 1),rgb(0 0 0 / 0.6) 40%,rgb(0 0 0 / 0)); 
    }
    
    section.skilss > h3 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 900px) {

    header > a.logo {
        font-size: 1.5em;
    }

    .hideOnmobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .text-media {
        flex-direction: column;
        text-align: center;
    }

    .text {
        margin: 10rem 0;
    }

    .text > h2 {
        font-size: 1.8em;
    }

    .text > p {
        font-size: 1em;
    }

    .media {
        width: 100vw;
    }

    .media {
        -webkit-mask-image: linear-gradient(to top,rgb(0 0 0 / 1),rgb(0 0 0 / 0.6) 40%,rgb(0 0 0 / 0));
        mask-image: linear-gradient(to top, rgb(0 0 0 / 1),rgb(0 0 0 / 0.6) 40%,rgb(0 0 0 / 0)); 
    }

    section.skills {
        height: 100%;
    }

    div.cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    header > h1 > a {
        font-size: 40px;
    }
}